In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score

In [2]:
acs = pd.read_csv("nhgis.csv", sep=",", encoding='latin-1')

In [3]:
acs = acs.drop(['GISJOIN', 'YEAR', 'REGIONA', 'DIVISIONA', 'STATE', 'COUNTY', 'COUSUBA', 'PLACEA', 'NAME_E'], axis=1)

In [4]:
acs.STATEA = acs.STATEA.astype(str)
acs.COUNTYA = acs.COUNTYA.astype(str)
acs.TRACTA = acs.TRACTA.astype(str)
acs.BLKGRPA = acs.BLKGRPA.astype(str)

In [5]:
acs.STATEA = acs.STATEA.str.zfill(2)
acs.COUNTYA = acs.COUNTYA.str.zfill(3)
acs.TRACTA = acs.TRACTA.str.zfill(6)
#acs.BLKGRPA = acs.BLKGRPA.str.zfill(4)

In [6]:
acs.BLKGRPA = acs.STATEA + acs.COUNTYA + acs.TRACTA + acs.BLKGRPA

In [7]:
acs = acs.drop(['STATEA', 'COUNTYA', 'TRACTA'], axis=1)
acs = acs.rename(columns={'BLKGRPA': 'BLKGRP'})

In [ ]:
#TODO: pick out features of interest from acs data

In [8]:
relation = pd.read_excel("grf18_lea_blkgrp.xlsx")

In [9]:
relation = relation.rename(columns={'LEAID': 'district_id'})
relation.district_id = relation.district_id.astype(float)
relation = relation[['district_id', 'BLKGRP', 'LANDAREA']]

In [10]:
relation.BLKGRP = relation.BLKGRP.astype(str)
relation.BLKGRP = relation.BLKGRP.str.zfill(12)

In [11]:
demos = pd.read_csv("demos_clean.csv")
demos.drop(demos.columns[[0, 1, 2]], axis=1, inplace=True)

In [12]:
df1 = pd.merge(relation, demos, on='district_id', how='inner')

In [13]:
df1.head()

,district_id,BLKGRP,LANDAREA,school_id,pct_native,pct_asian,pct_hispanic,pct_black,pct_white,pct_pacisl,pct_mixed,total_race,free_lunch,reduced_lunch,total
0,100005.0,010950307011,0.049445,1.000050e+10,0.00219,0.006569,0.40146,0.027737,0.543796,0.00146,0.016788,1370.0,0.310949,NaN,1370.0
1,100005.0,010950307012,2.066567,1.000050e+10,0.00219,0.006569,0.40146,0.027737,0.543796,0.00146,0.016788,1370.0,0.310949,NaN,1370.0
2,100005.0,010950307024,0.800889,1.000050e+10,0.00219,0.006569,0.40146,0.027737,0.543796,0.00146,0.016788,1370.0,0.310949,NaN,1370.0
3,100005.0,010950308011,0.852707,1.000050e+10,0.00219,0.006569,0.40146,0.027737,0.543796,0.00146,0.016788,1370.0,0.310949,NaN,1370.0
4,100005.0,010950308012,1.957542,1.000050e+10,0.00219,0.006569,0.40146,0.027737,0.543796,0.00146,0.016788,1370.0,0.310949,NaN,1370.0

In [14]:
df1 = pd.merge(df1, acs, on='BLKGRP', how='inner')